{% extends 'base.html.twig' %}
{% block title %}Ajout d'un article{% endblock %}
{% block body %}

    <h1>Ajout d'un article</h1>

    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}